<br>
<div class="container-fluid col-12 mx-auto" style="height: 90vh;">
    <div class="row no-gutter">
        <div class="col-md-12 bg-light">
            <div class="login col-12 d-flex align-items-center py-5" style="height: 90vh;">

                <!-- Demo content-->
                <div class="container  col-12">
                    <div class="row col-12 mx-auto">
                        <div class="col-lg-10 col-xl-12 mx-auto">
                            <h3 class="display-4">Response Submitted</h3>
                            <p class="text-muted mb-4">Thanks</p>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
<br>
<br>
